body
{
    color: green;
    text-align: center;
    font-family: "Calibri";
}

#cabecera {
    background-color:yellow;
    color: black;
    text-align: center;
    font-family: "Arial";
    margin: 50px;
}

#container {
    color: black;
    text-align: center;
    border: 1px solid;
    font-family: "Arial";
    margin: 50px;
}